/* //////NAVBAR///////
///////STYLING///// */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  position: fixed;
  color: white;
  background-color: black;
  z-index: 100;
}

.nav-logo {
  font-family: "Great Vibes", cursive;
  margin-left: 0.5rem;
  font-size: 3rem;
  line-height: 1;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-link {
  text-transform: capitalize;
  color: rgb(107 114 128);
  cursor: pointer;
  font-weight: 500;
  padding: 0 1rem;
  transition-duration: 200ms;
}

.nav-link:hover {
  transform: scale(1.05);
}

.hamburger {
  cursor: pointer;
  padding-right: 1rem;
  z-index: 10;
  color: rgb(107 114 128);
  z-index: 30;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-image: linear-gradient(to bottom, #000, #1f2937);
  color: rgb(107 114 128);
  z-index: 20;
}

.hamburger-menu-items {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
}

/* //////HOME///////
/////////STYLING///// */

.home-section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000, #000, #1f2937);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
}

.home-section-image {
  border-radius: 1rem;
  margin: auto;
  width: 67.66667%;
}
.home-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.home-info-heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: white;
}

.home-info-para {
  color: rgb(107 114 128);
  max-width: 28rem;
  padding-block: 1rem;
}

.home-info-heading span {
  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: txtBackground 15s ease-in-out infinite;
}

@keyframes txtBackground {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

/* //////BUTTON///////
/////////STYLING///// */

.btn {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0;
  border-radius: 0.375rem;
  cursor: pointer;
  width: fit-content;
}

.projects-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #06b6d4, #3b82f6);
}

.projects-btn-fa {
  margin-left: 0.25rem;
  font-size: 25px;
}

.rotating-fa {
  transition: transform ease 300ms;
}
.projects-btn:hover .rotating-fa {
  transform: rotate(90deg);
}

.cv-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  z-index: 1;
}

.cv-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: black;
  border-radius: 0.25rem;
  z-index: -1;
}

.cv-btn::after {
  content: attr(datatype);
  font-weight: 700;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* //////FOOTER///////
///////////STYLING///// */

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: white;
  background-image: linear-gradient(to bottom, #1f2937, #000, #000);
}

.footer-text {
  font-size: 1.75rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all ease 300ms;
  font-family: "VT323", monospace;
}

.footer-text:hover {
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 120px #fff;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.65rem;
  margin-top: 1.5rem;
  transition: all ease 300ms;
}

.social-link a {
  transition: color ease 300ms;
}

.social-links :nth-child(1) a:hover {
  color: lightslategrey;
}
.social-links :nth-child(2) a:hover {
  color: #db3236;
}
.social-links :nth-child(3) a:hover {
  color: lightseagreen;
}
.social-links :nth-child(4) a:hover {
  color: #0a66c2;
}

/* //////ABOUT///////
///////////STYLING///// */

.about-section {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #1f2937, #000);
  position: relative;
}

.about-section-container {
  max-width: 1012px;
  padding: 4rem 1.5rem 0 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.about-section-header {
  margin-bottom: 5rem;
}

.section-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  display: inline;
  border-bottom-width: 4px;
  border-color: rgb(107 114 128);
  color: white;
  letter-spacing: 2px;
}

.about-section-para {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(107 114 128);
}

.area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(107, 114, 128, 0.478);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* //////PROJECTS///////
///////////STYLING///// */

.projects-section {
  background-image: linear-gradient(to bottom, #000, #1f2937);
  color: white;
}

.projects-section-container,
.expertise-section-container,
.contact-section-container {
  max-width: 1012px;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.projects-section-header,
.skills-section-header,
.contact-section-header {
  margin-bottom: 3rem;
}

.section-subheader {
  padding-block: 1.25rem;
  font-size: 1.25rem;
  letter-spacing: 1.3px;
}

.project-card-section {
  display: grid;
  gap: 2rem;

  /* padding: 0 3rem; */
}

.project-card {
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.705);
  background-color: #181d25;
  height: fit-content;
}

.project-card-img {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  transition: all ease 200ms;
}

.project-card-img:hover {
  transform: scale(1.05);
}

.project-card p {
  padding: 1rem;
  letter-spacing: 1px;
  color: rgb(107 114 128);
}

.project-card-footer {
  display: flex;
  gap: 1rem;
  padding: 0.2rem;
  box-shadow: 0px -1px 3px 0px black;
}

.project-card-btn {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 4px;
  letter-spacing: 1px;
  background-color: #1f2937;
  transition: letter-spacing ease 300ms;
}

.project-card-btn:hover {
  letter-spacing: 2px;
}
.project-card-btn span {
  margin-left: 0.2rem;
  color: white;
  font-size: 1.25rem;
}

/* //////EXPERTISE///////
///////////STYLING///// */

.expertise-section {
  background-image: linear-gradient(to bottom, #1f2937, #000);
  color: white;
}

.experience-section {
  display: grid;
  gap: 2rem;
}
.experience-item {
  display: flex;
  padding: 0 2rem;
  /* align-items: center; */
}

.experience-img {
  height: 3.95rem;
  margin-right: 1rem;
  transition: transform ease 300ms;
}

.experience-img:hover {
  transform: rotate(10deg);
}

.bar-section {
  width: 100%;
}

.bar-info {
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.bar-info span {
  color: rgb(107 114 128);
}

.experience-bar {
  height: 1.25rem;
  background-color: #cdcdcd;
  border-radius: 3.125rem;
  position: relative;
  overflow: hidden;
}

.experience-bar span {
  transform: scaleX(0);
  transform-origin: left;
  animation: barAnimation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  height: 100%;
  border-radius: 3.125rem;
  position: absolute;
  background: rgb(0, 146, 0);
  background: linear-gradient(
    90deg,
    rgb(2, 179, 2) 0%,
    rgba(0, 125, 0, 1) 54%,
    rgba(0, 105, 0, 0.9977240896358543) 100%
  );
  transition: 1s all;
}

.experience-bar span.animate {
  animation: barAnimation 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes barAnimation {
  100% {
    transform: scaleX(1);
  }
}

/* //////CONTACT///////
///////////STYLING///// */

.contact-section {
  background-image: linear-gradient(to bottom, #000, #1f2937);
  color: white;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.form-section input,
textarea {
  font-size: 1.25rem;
  padding: 0.7rem 1rem;
  border-radius: 1.875rem;
  background-color: #1f2937;
  color: white;
  outline: none;
  border: none;
  width: 100%;
}

.textarea {
  padding: 0.7rem 1rem;
  resize: none;
  font-size: 1.25rem;
}

.form-input {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.contact-img-container {
  display: none;
}

.contact-btn {
  font-size: 1.35rem;
  letter-spacing: 2px;
  border-radius: 1.875rem;
  padding: 0.4rem 0.9rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: solid 1px #3b82f6;
}

.contact-btn::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  transition: all ease 400ms;
  z-index: -1;
}

.contact-btn:hover::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #06b6d4, #3b82f6);
  transform: translateX(0);
  transition: all ease 400ms;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .home-section {
    flex-direction: row;
    gap: 2rem;
    height: 100vh;
  }

  .home-section-image {
    width: 100%;
  }

  .home-section-info {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-info-heading {
    font-size: 4.5rem;
    line-height: 1;
    max-width: 30rem;
  }
  .section-header {
    font-size: 2.75rem;
  }

  .experience-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .experience-item {
    padding: 0 1.5rem;
  }
}

@media (min-width: 623px) and (max-width: 768px) {
  .home-info-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media screen and (max-width: 280px) {
  .btns {
    flex-direction: column;
    align-items: stretch;
  }
  .projects-btn {
    width: 100%;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 640px) {
  .about-section-container {
    padding: 3rem 1rem 0 1rem;
  }
  .about-section-header {
    text-align: center;
  }
  .projects-section-container,
  .expertise-section-container,
  .contact-section-container {
    padding: 3rem 1rem 1.5rem 1rem;
  }

  .projects-section-header,
  .skills-section-header,
  .contact-section-header {
    text-align: center;
  }
  .project-card-section {
    padding: 0 2rem;
  }

  .form-input {
    flex-direction: column;
    gap: 1.5rem;
  }
  .form-section {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 640px) {
  .project-card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 450px) {
  .project-card p {
    font-size: 0.75rem;
  }
  .section-subheader {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .experience-item {
    padding: 0 0.5rem;
  }
  .project-card-section {
    padding: 0 1rem;
  }

  .experience-section {
    gap: 2.5rem;
  }

  .experience-img {
    height: 3.35rem;
  }

  .bar-info {
    font-size: 1rem;
  }

  .experience-bar {
    height: 1.1rem;
  }
}

@media screen and (min-width: 800px) {
  .form-input {
    flex-direction: column;
    gap: 2rem;
  }
  .contact-img-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-img-form-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
